- unless defined?(id)
  - id = (request.path_info.gsub("/", "_")[1..-1])
- if logged_in?
  - infinite_scroll_toggle = current_user.infinite_scroll ? "updates-scroll" : ""
- else
  - infinite_scroll_toggle = controller_name == "static" ? "" : "updates-scroll"
#messages
  %ul.updates{:class => "#{list_class}#{(controller.controller_name == "updates" ? " has-update-form #{infinite_scroll_toggle}" : " #{infinite_scroll_toggle}")}", :id => id}
    - updates.each do |update|
      = render update, no_highlight: defined?(no_highlight)

  != render :partial => "shared/pagination"

- if updates.empty?
  .empty
    #{defined?(tagline) ? tagline : "There are no updates here yet" }
